@use "sass:math";

.c-mobile-hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: $inuit-global-spacing-unit-small;
  padding-bottom: $inuit-global-spacing-unit-large;
  background: #1e1e1e;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 3;
  max-height: 100%;
  //max-height: -webkit-fill-available;
  overflow: auto;
  overscroll-behavior: contain;
}

.c-header-mobile__hamburger-checkbox:checked ~ .c-mobile-hamburger-menu {
  transform: none;
}

.c-mobile-hamburger-menu__menu {
  list-style-type: none;
  padding: 0 16px;
  margin: 0 0 $inuit-global-spacing-unit 0;
  font-size: 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.c-mobile-hamburger-menu__item {
  margin-bottom: 1px;
  flex-basis: 100%;
  word-break: keep-all;
  border-bottom: 1px dotted $oc-gray-1;

  font-size: 16px;
  @include inuit-clearfix;
}

.c-mobile-hamburger-menu__item--half {
  flex-basis: 50%;
}

.c-mobile-hamburger-menu__link {
  font-size: math.div(18, 16) * 16px;
  font-weight: bold;
  display: block;
  padding: 16px  0;
  color: white;
  opacity: .8;
  text-align: left;
}

button.c-mobile-hamburger-menu__link {
  background-color: transparent;
  border: none;
  display: block;
  -webkit-appearance: none;
  line-height: inherit;
  width: 100%;
  position: relative;
}

.c-mobile-hamburger-menu__link--has-submenu:after {
  content: '▼';
  position: absolute;
  right: 0;
  color: white;
  font-size: 8px;
  margin-left: 8px;
}

.c-mobile-hamburger-menu__link--opened-submenu:after {
  content: '▲';
}

.c-mobile-hamburger-menu__submenu {
  transition: transform .3s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  list-style: none;
  margin-top: -8px;
  margin-bottom: 16px;
  margin-left: 0;
  padding-left: 0;
  font-size: 0;
  position: absolute;
  a {
    transition: padding .3s ease-in-out;
    color: inherit;
    display: block;
  }
}

.c-mobile-hamburger-menu__submenu-container ~ .c-mobile-hamburger-menu__submenu-container {
  border-top: 1px dashed $oc-gray-7;
}

.c-mobile-hamburger-menu__submenu-item {
  //transition: font-size .3s ease-in-out;
  margin-top: 1px;
  color: $oc-gray-1;
  display: inline-block;
  width: 33.3333333%;
  padding: 8px 16px;
  vertical-align: top;
  &:nth-child(2n-1) {
    border-right: 1px solid transparent;
  }
  &:last-child {
    border-right: none;
  }
}

.c-mobile-hamburger-menu__submenu--visible {
  transform: scaleY(1);
  position: static;
  .c-mobile-hamburger-menu__submenu-item {
    font-size: 15px;
  }
  a {
    padding: 3px 0;
  }
}

.c-mobile-hamburger-menu__icon-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
