@use "sass:math";

@include mq($from: $search-form-break) {
  .c-mobile-search {
    display: none ;
  }
}

.c-mobile-search__form {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 4;
}

.c-mobile-search__icon {
  position: absolute;
  width: 28px;
  right: 0;
  top: 17px;
  padding-right: $inuit-global-spacing-unit-tiny;
}

.c-mobile-search__toggle {
  height: 48px;
  line-height: 48px;
  display: none;
}

.c-mobile-search__toggle:checked ~ .c-mobile-search__form {
  transform: none;
}

.c-mobile-search__close {
  display: inline-block;
  text-align: center;
  width: 41px;
}

.c-mobile-search__input {
  border: 0 !important;
  padding: 0 0 0 $inuit-global-spacing-unit-tiny  !important;
  height: 48px;
  line-height: 48px;
  width: calc(100% - 41px - 31px);
  margin-left: - $inuit-global-spacing-unit-tiny;
  &:focus {
    outline: none;
  }
}

.c-mobile-search__cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;
  background-color: #000000;
}

.c-mobile-search__cover--visible {
  display: block;
  opacity: 0.6;
  z-index: 2;
}

.c-mobile-search__submit {
  position: absolute;
  width: 28px;
  right: 0;
  height: 48px;
  padding: 0 $inuit-global-spacing-unit-tiny 0 0;
  border: 0 !important;
  background-color: #fff;
}
