.c-header {
    @include mq($until: $header-break) {
        display: none;
    }
    border-bottom: 1px solid black;
    background-color: #F9F9FB;
}

.c-header__inner {
    display: flex;
    align-items: flex-end;
    max-width: 1240px;
    margin: 0 auto;
    padding: 24px 20px 32px;
}

.c-header__logo {
    margin-right: 16px;
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 8px;
    }
    img {
        width: 100%;
    }
}
