.c-header-mobile {
    position: relative;
    @include mq($from: $header-break) {
        display: none;
    }
}

.c-header-mobile__hamburger-button {
    display: block;
    position: absolute;
    top: 29px;
    left: 18px;
    z-index: 4;
    user-select: none;
}

.c-header-mobile__logo {
    padding-top: 17px;
    text-align: center;
    margin-bottom: 17px;
}

.c-header-mobile__search-button {
    display: block;
    position: absolute;
    top: 21px;
    right: 18px;
    z-index: 3;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    border: none!important;
    line-height: inherit;
    vertical-align: top;

    svg {
        width: 17px;
        height: 17px;
        path {
            transition: fill .5s;
        }
    }
}

.c-header-mobile__hamburger-checkbox:checked ~ .c-header-mobile__search-button svg path {

    fill: #cacaca;
}

.c-header-mobile__hamburger-checkbox {
    display: none;
}

.c-header-mobile__hamburger-bar {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;

    background: #000;
    border-radius: 3px;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

.c-header-mobile__hamburger-bar:first-child
{
    transform-origin: 0 0;
}

.c-header-mobile__hamburger-bar:nth-last-child(2)
{
    transform-origin: 0 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.c-header-mobile__hamburger-checkbox:checked ~ .c-header-mobile__hamburger-button .c-header-mobile__hamburger-bar
{
    opacity: 1;
    transform: rotate(45deg) translate(-7px, -9px);
    background-color: #CACACA;
}

/*
 * But let's hide the middle one.
 */
.c-header-mobile__hamburger-checkbox:checked ~ .c-header-mobile__hamburger-button .c-header-mobile__hamburger-bar:nth-last-child(2)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.c-header-mobile__hamburger-checkbox:checked ~ .c-header-mobile__hamburger-button .c-header-mobile__hamburger-bar:nth-last-child(3)
{
    transform: rotate(-45deg) translate(-10px, 10px);
}
