@use "sass:math";

// 메인 내비게이션
//
// Markup:
// <div class="c-main-navigation>
//  <ul class="c-main-navigation__container">
//    <li class="c-main-navigation__item">
//      <a href="{{ url('/publication-issues') }}">지난호 목록</a>
//    </li>
//    ...
//  </ul>
// </div>
//
// c-main-navigation__item--right - 아이템을 오른쪽으로 몬다.
//
// Styleguide 1.0

$main-navigation-desktop-font-size: 15px;
$main-navigation-mobile-font-size: 16px;

.c-main-navigation {
    flex-grow: 1;
    font-weight: 400;
    z-index: 4;
}

.c-main-navigation__container {
    text-align: left;
    list-style-type: none;
    font-size: 0;
    margin: 0 13px;
    @include mq($until: $header-break) {
        text-align: center;
    }
}

.c-main-navigation__item {
    display: inline-block;
    line-height: 1.05;
    text-align: center;
    font-size: $main-navigation-desktop-font-size;
    position: relative;
    > label {
        margin-left: 30px;
    }
}

.c-main-navigation__link {
    background: transparent;
    border: none;
    display: inline-block;
    font-weight: 400;
    font-size: $main-navigation-desktop-font-size;
    padding: 7px 7px 8px 7px;
    margin-right: 14px;
    position: relative;

    @include mq($until: $header-break) {
        font-size: $main-navigation-mobile-font-size;
        padding: 10px 5px;
    }

    &:hover, &:focus, &.active {
        color: white;
        background-color: $nav-color-primary;
        text-decoration: none;

        .c-main-navigation__ruby {
            color: $nav-color-primary;
        }
    }
}

.c-main-navigation__item {
    &.active {
        .c-main-navigation__link {
            color: white;
            background-color: $nav-color-primary;
            text-decoration: none;

            .c-main-navigation__ruby {
                color: $nav-color-primary;
            }
        }
    }
}

.c-main-navigation__ruby {
    font-size: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.2em;
}

.c-main-navigation__item a {
    &.active {
        .c-main-navigation__ruby {
            color: $nav-color-primary;
        }
    }
}

.c-main-navigation__submenu-container {
    background-color: #F9F9FB;
    font-size: $main-navigation-desktop-font-size;
    text-align: left;
    padding-bottom: 16px;
    list-style-type: none;
    margin-left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform $inuit-global-transition;
    position: absolute;
    border-bottom: 1px solid black;
    z-index: 3;
    width: 100vw;
}

.c-main-navigation__submenu-line {
    border-top: 1px solid $nav-color-primary;
    height: 1px;
    margin: 0 0 16px 10px;
}

.c-main-navigation__submenu {
    display: inline-block;
    vertical-align: top;
}

.c-main-navigation__item {
    &.active {
        .c-main-navigation__submenu-container {
            // for desktop
            transform: none;
        }
    }
}

.c-main-navigation__submenu-container.active {
    // for mobile
    transform: none;
}

.c-main-navigation__submenu-item {
}

.c-main-navigation__submenu-link {
    font-size: $main-navigation-desktop-font-size;
    display: inline-block;
    padding: .5em 1em;

    &:hover, &:focus {
        text-decoration: none;
        color: $nav-color-primary;
    }
}

.c-main-navigation__item--search {
    @include mq($until: $header-break) {
        display: none;
    }
}

.ie8, .ie9 {
    .c-main-navigation {
        display: table;
    }

    .c-main-navigation__item {
        display: table-cell;
    }
}
