@use "sass:math";

.c-search-form {
  width: 150px;
  font-size: 0;
  white-space: nowrap;
}

.c-search-form--hidden-on-narrow {
  @include mq($until: $search-form-break) {
      display: none;
  }
}

.c-search-form__input[type="search"] {
  font-size: math.div(14, 16) * 16px;
  width: calc(100% - 19px);
  margin-bottom: 3px;
  margin-left: 7px;
  border: 0;
  transition: background-color .3s;
  vertical-align: middle;
  &::placeholder {
    letter-spacing: -1px;
    font-size: inherit;
    color: $oc-gray-5;
  }

  &:focus {
    outline: 0;
    background-color: $oc-gray-1;
  }
}

.c-search-form__input--gray {
  background-color: #F9F9FB;
}

.c-search-form__submit {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
  border: none!important;
  line-height: inherit;
  vertical-align: top;
}

.c-search-form__submit-img {
  vertical-align: top;
}

.c-search-form--subpage {
  width: 30%;
  margin: 0 auto 90px auto;
  font-size: 14px;
  .c-search-form__input {
    border: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
  }
}
